* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  font-size: 8rem;
  background: linear-gradient(-135deg, #1895bb, #0d6994, #0d4a74, #092953);
}

.gameboard {
  /* border: 1px solid red; */
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-content: center;
  background-color: hsla(187, 6%, 75%, 0.1);
  border-radius: 15px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #0d6994, #ffffff, #0d6994);
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.left-bottom {

  border-bottom: 5px solid transparent; 
  border-right: 5px solid transparent; 
  border-image: linear-gradient(to bottom right, transparent 50%, #fff) 2; /
}

.center {
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.left-center {
  border-bottom: 5px solid transparent; 
  border-right: 5px solid transparent; 
  border-image: linear-gradient(to right, transparent 1%, #fff) 2; /
}

.bottom-row{
  border-right: 5px solid transparent; 
  border-image: linear-gradient(to top, transparent 1%, #fff) 2; /
}
.top-row{
  border-bottom: 5px solid transparent; 
  border-right: 5px solid transparent; 
  border-image: linear-gradient(to bottom, transparent 1%, #fff) 2; /
}

.no-right {
  border-bottom: 5px solid transparent; 
  
  border-image: linear-gradient(to left, transparent 1%, #fff) 2; /
}


