* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;

  justify-items: center;
  align-items: center;
  color: #ffffff;
  font-size: 8rem;
  background: linear-gradient(-135deg, #1895bb, #0d6994, #0d4a74, #092953);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  width: 90%;
  height: 90%;
}

.player {
  border: 1px solid #bac1c2;
  background-color: hsla(187, 6%, 75%, 0.102);
  display: flex;
  justify-content: space-around;
  width: 150px; /*problem with mobile view along with other widths*/
  border-radius: 10px;
  padding: 5px;
  /* border-bottom-width: 5px; */
}

.p1 {
  background-color: #092953;
}

.player.active {
  /* border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #3bf4eb; */
  border: 5px solid #3bf4eb;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  /* border: 1px solid lime; */
}

.player1Name,
.player2Name {
  font-size: 1rem;
}

.p1Wins,
.p2Wins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  /* border: 1px solid lime; */
}

.toggle-marker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-left {
  display: flex;
  height: fit-content;
}
.div-left.active,
.btn-left.active {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-color: #5d6161;
  background-color: #092953;
}

.div-right {
  display: flex;
  height: fit-content;
}

.div-right.active,
.btn-right.active {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-color: #5d6161;
  background-color: #092953;
}

.btn-left,
.btn-right {
  font-size: 35px;
  width: 150px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: linear-gradient(to top, #0d6994, #ffffff, #0d6994);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-color: #bac1c2;
  border-style: solid;
}

.btn-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.btn-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.gameboard {
  width: 500px; /*problem with mobile view along with other widths*/
  height: 500px; /*problem with mobile view along with other widths*/
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-content: center;
  background-color: hsla(187, 6%, 75%, 0.1);
  border-radius: 15px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #0d6994, #ffffff, #0d6994);

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.left-bottom {
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-image: linear-gradient(to bottom right, transparent 50%, #fff) 2;
}

.center {
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.left-center {
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-image: linear-gradient(to right, transparent 1%, #fff) 2;
}

.bottom-row {
  border-right: 5px solid transparent;
  border-image: linear-gradient(to top, transparent 1%, #fff) 2;
}
.top-row {
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-image: linear-gradient(to bottom, transparent 1%, #fff) 2;
}

.no-right {
  border-bottom: 5px solid transparent;

  border-image: linear-gradient(to left, transparent 1%, #fff) 2;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  width: 500px; /*problem with mobile view along with other widths*/
  height: 90%;
}

.clearBoard,
.resetGame,
.whosFirst {
  position: relative;
  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  background-color: hsla(187, 6%, 75%, 0.1);
}

/*ToolTip*/
.tooltip-txt {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100px;
  color: white;
  background-color: #092953;
  padding: 5px;
  font-size: 1rem;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.clearBoard:hover .tooltip-txt,
.resetGame:hover .tooltip-txt,
.whosFirst:hover .tooltip-txt {
  visibility: visible;
}

/*ToolTip Arrow*/
.tooltip-txt::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #092953 transparent transparent transparent;
}

.ttBottom::after {
  bottom: 28px;
  left: 50%;
  transform: rotate(180deg);
}

img {
  width: 50px;
}

.rotate {
  animation: rotation 1.5s linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-1000deg);
    -moz-transform: rotate(-1000deg);
    transform: rotate(-1000deg);
  }
}
